{% extends "base.html" %}
{% block title %}Admin Dashboard{% endblock %}
{% block body %}
<div class="wrapper">

    <!-- Main Header -->
    <header class="main-header">

        <!-- Logo -->
        <a href="index2.html" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><b>A</b>LT</span>
            <!-- logo for regular state and mobile devices -->
            <!-- *** -->
            <span class="logo-lg">{restaurant.name}</span>
        </a>

        <!-- Header Navbar -->
        <nav class="navbar navbar-static-top" role="navigation">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>
            <!-- Navbar Right Menu -->
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">

                    <!-- Notifications Menu -->
                    <li class="dropdown notifications-menu">
                        <!-- Menu toggle button -->
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-bell-o"></i>
                            <span class="label label-warning">10</span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- *** -->
                            <li class="header">You have 10 notifications</li>
                            <li>
                                <!-- Inner Menu: contains the notifications -->
                                <ul class="menu">
                                    <li><!-- start notification -->
                                        <a href="#">
                                            <i class="fa fa-users text-aqua"></i>
                                            <!-- *** -->
                                            5 new members joined today
                                        </a>
                                    </li>
                                    <!-- end notification -->
                                </ul>
                            </li>
                            <li class="footer"><a href="#">View all</a></li>
                        </ul>
                    </li>

                    <!-- User Account Menu -->
                    <li class="dropdown user user-menu">
                        <!-- Menu Toggle Button -->
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <!-- The user image in the navbar-->
                            <img src="{{ url_for('static', filename='img/profile-pic.jpg') }}" class="user-image" alt="User Image"/>
                            <!-- hidden-xs hides the username on small devices so only the image appears. -->
                            <span class="hidden-xs">Ali Naman</span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- The user image in the menu -->
                            <li class="user-header">
                                <img src="{{ url_for('static', filename='img/profile-pic.jpg') }}" class="img-circle" alt="User Image"/>

                                <p>
                                    Ali Naman - Owner
                                </p>
                            </li>

                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a href="#" class="btn btn-default btn-flat">Profile</a>
                                </div>
                                <div class="pull-right">
                                    <a href="#" class="btn btn-default btn-flat">Sign out</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <!-- Control Sidebar Toggle Button -->
                    <li>
                        <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">

        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">

            <!-- Sidebar user panel (optional) -->
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="{{ url_for('static', filename='img/profile-pic.jpg') }}" class="img-circle" alt="User Image"/>
                </div>
                <div class="pull-left info">
                    <p>Ali Naman</p>
                    <span>Owner</span>
                </div>
            </div>

            <!-- Sidebar Menu -->
            <ul class="sidebar-menu">
                <!-- Optionally, you can add icons to the links -->
                <li class="active"><a href="#"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
                <li><a href="#"><i class="fa fa-link"></i> <span>Restaurant List</span></a></li>
                <li><a href="#"><i class="fa fa-link"></i> <span>Suppliers</span></a></li>
                <li><a href="#"><i class="fa fa-link"></i> <span>Service mans</span></a></li>
                <li><a href="#"><i class="fa fa-link"></i> <span>Bills</span></a></li>
                <li><a href="#"><i class="fa fa-link"></i> <span>Warnings</span></a></li>
                <li><a href="#"><i class="fa fa-link"></i> <span>Messages</span></a></li>
                <li><a href="#"><i class="fa fa-link"></i> <span>Setting</span></a></li>
                <!-- <li class="treeview">
                  <a href="#"><i class="fa fa-link"></i> <span>Multilevel</span> <i class="fa fa-angle-left pull-right"></i></a>
                  <ul class="treeview-menu">
                    <li><a href="#">Link in level 2</a></li>
                    <li><a href="#">Link in level 2</a></li>
                  </ul>
                </li> -->
            </ul>
            <!-- /.sidebar-menu -->
        </section>
        <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

        <!-- Main content -->
        <section class="content">

            <div class="row">
                <div class="col-lg-3" style="padding-right:0">
                    <div class="col-lg-12">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">Restaurant List <span class="num">(702)</span></h3>

                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                                    </button>
                                </div>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <ul class="products-list product-list-in-box">
                                    <li class="item">

                                        <div class="product-info no-margin">
                                            <a href="javascript::;" class="product-title">jose mourinho</a>
			                            <span class="product-description">
			                              hellen gifer
			                            </span>
                                        </div>
                                    </li>
                                    <!-- /.item -->
                                    <li class="item">

                                        <div class="product-info no-margin">
                                            <a href="javascript::;" class="product-title">pep guardiola</a>
			                            <span class="product-description">
			                              James smith
			                            </span>
                                        </div>
                                    </li>
                                    <!-- /.item -->
                                    <li class="item">

                                        <div class="product-info no-margin">
                                            <a href="javascript::;" class="product-title">arsene wenger</a>
			                            <span class="product-description">
			                              manager of Arsenal
			                            </span>
                                        </div>
                                    </li>
                                    <!-- /.item -->

                                </ul>
                            </div>
                            <!-- /.box-body -->
                            <div class="box-footer text-center">
                                <a href="" class="uppercase">See more</a>
                            </div>
                            <!-- /.box-footer -->
                        </div>
                        <!-- /.box -->

                    </div>
                    <!-- ./col -->
                    <div class="col-lg-12">
                        <div class="box box-danger">
                            <div class="box-header with-border">
                                <h3 class="box-title">Warnings</h3>

                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                                    </button>
                                </div>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <ul class="products-list product-list-in-box">
                                    <li class="item">

                                        <div class="product-info no-margin">
                                            <a href="javascript::;" class="product-title">jose mourinho</a>
			                            <span class="product-description">
			                              hellen gifer
			                            </span>
                                        </div>
                                    </li>
                                    <!-- /.item -->
                                    <li class="item">

                                        <div class="product-info no-margin">
                                            <a href="javascript::;" class="product-title">pep guardiola</a>
			                            <span class="product-description">
			                              James smith
			                            </span>
                                        </div>
                                    </li>
                                    <!-- /.item -->
                                    <li class="item">

                                        <div class="product-info no-margin">
                                            <a href="javascript::;" class="product-title">arsene wenger</a>
			                            <span class="product-description">
			                              manager of Arsenal
			                            </span>
                                        </div>
                                    </li>
                                    <!-- /.item -->

                                </ul>
                            </div>
                            <!-- /.box-body -->
                            <div class="box-footer text-center">
                                <a href="" class="uppercase">See more</a>
                            </div>
                            <!-- /.box-footer -->
                        </div>
                        <!-- /.box -->

                    </div>
                    <!-- ./col -->

                </div>
                <div class="col-lg-6" style="padding-left:0;padding-right:0">
                    <div class="col-lg-6">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">Suppliers</h3>

                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                                    </button>
                                </div>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <ul class="products-list product-list-in-box">
                                    <li class="item">
                                        <div class="product-info no-margin">
                                            <!-- *** -->
                                            <a href="javascript::;" class="product-title">restuarant name</a><br>
                                            <!-- *** -->
                                            <span href="">james smith</span>

                                            <div class="row"><br>

                                                <b>Description</b>
                                                <!-- *** -->
                                                manager of English club Chelsea<br>
                                                <b>Address:</b>
                                                <!-- *** -->
                                                manager of English club Chelsea<br>
                                                <b>Tel:</b>
                                                <!-- *** -->
                                                +44 754536542<br>
                                            </div>
                                            <div class="row">
                                                <br>
                                                <a href="" class="btn btn-xs btn-success pull-right">Done</a>
                                                <!-- *** -->
                                                <span class="pull-left btn btn-default btn-xs">12-02-2012 12:30 AM</span>
                                            </div>
                                        </div>
                                    </li>
                                    <!-- /.item -->
                                    <li class="item">
                                        <div class="product-info no-margin">
                                            <a href="javascript::;" class="product-title">restuarant name</a><br>
                                            <span href="">james smith</span>

                                            <div class="row"><br>
                                                <b>Description</b> manager of English club Chelsea<br>
                                                <b>Address:</b> manager of English club Chelsea<br>
                                                <b>Tel:</b> +44 754536542<br>
                                            </div>
                                            <div class="row">
                                                <br>
                                                <a href="" class="btn btn-xs btn-success pull-right">Done</a>
                                                <span class="pull-left btn btn-default btn-xs">12-02-2012 12:30 AM</span>
                                            </div>
                                        </div>
                                    </li>
                                    <!-- /.item -->

                                </ul>
                            </div>
                            <!-- /.box-body -->
                            <div class="box-footer text-center">
                                <a href="" class="uppercase">See more</a>
                            </div>
                            <!-- /.box-footer -->
                        </div>
                        <!-- /.box -->

                    </div>
                    <!-- ./col -->
                    <div class="col-lg-6">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">Service mans</h3>

                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                                    </button>
                                </div>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <ul class="products-list product-list-in-box">
                                    <li class="item">
                                        <div class="product-info no-margin">
                                            <a href="javascript::;" class="product-title">restuarant name</a><br>
                                            <span href="">james smith</span>

                                            <div class="row"><br>
                                                <b>Description:</b> manager of English club Chelsea<br>
                                                <b>Address:</b> manager of English club Chelsea<br>
                                                <b>Tel:</b> +44 754536542<br>
                                            </div>
                                            <div class="row">
                                                <br>

                                                <div class="btn-group" role="group" aria-label="...">
                                                    <span class="btn btn-default btn-xs">12-02-2012 12:30 AM</span>
                                                    <select class="btn btn-default btn-xs" name="" id="">
                                                        <option value="reply1">Reply 1</option>
                                                        <option value="reply2">Reply 2</option>
                                                        <option value="custom">Custom</option>
                                                    </select>

                                                    <div class="row texarearow">
                                                        <textarea name="" id="" cols="15" rows="2"></textarea>
                                                    </div>
                                                    <a href="" class="btn btn-success btn-xs">Done</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <!-- /.item -->
                                    <li class="item">
                                        <div class="product-info no-margin">
                                            <a href="javascript::;" class="product-title">restuarant name</a><br>
                                            <span href="">james smith</span>

                                            <div class="row"><br>
                                                <b>Description</b> manager of English club Chelsea<br>
                                                <b>Address:</b> manager of English club Chelsea<br>
                                                <b>Tel:</b> +44 754536542<br>
                                            </div>
                                            <div class="row">
                                                <br>

                                                <div class="btn-group" role="group" aria-label="...">
                                                    <span class="btn btn-default btn-xs">12-02-2012 12:30 AM</span>
                                                    <select class="btn btn-default btn-xs" name="" id="">
                                                        <option value="reply1">Reply 1</option>
                                                        <option value="reply2">Reply 2</option>
                                                        <option value="custom">Custom</option>
                                                    </select>

                                                    <div class="row texarearow">
                                                        <textarea name="" id="" cols="15" rows="2"></textarea>
                                                    </div>
                                                    <a href="" class="btn btn-success btn-xs">Done</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <!-- /.item -->

                                </ul>
                            </div>
                            <!-- /.box-body -->
                            <div class="box-footer text-center">
                                <a href="" class="uppercase">See more</a>
                            </div>
                            <!-- /.box-footer -->
                        </div>
                        <!-- /.box -->

                    </div>
                    <!-- ./col -->
                </div>
                <div class="col-lg-3" style="padding-left:0">
                    <div class="col-lg-12">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">Bills</h3>

                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                                    </button>
                                </div>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <ul class="products-list product-list-in-box">
                                    <li class="item">

                                        <div class="product-info no-margin">
                                            <span class="fa  fa-file-archive-o"></span>
                                            <a href="javascript::;" class="product-title"> Restaurant Name </a>
                                        </div>
                                    </li>
                                    <!-- /.item -->
                                    <li class="item">

                                        <div class="product-info no-margin">
                                            <span class="fa  fa-file-archive-o"></span>
                                            <a href="javascript::;" class="product-title"> Restaurant Name </a>
                                        </div>
                                    </li>
                                    <!-- /.item -->
                                    <li class="item">

                                        <div class="product-info no-margin">
                                            <span class="fa  fa-file-archive-o"></span>
                                            <a href="javascript::;" class="product-title"> Restaurant Name </a>
                                        </div>
                                    </li>
                                    <!-- /.item -->

                                </ul>
                            </div>
                            <!-- /.box-body -->
                            <div class="box-footer text-center">
                                <a href="" class="uppercase">See more</a>
                            </div>
                            <!-- /.box-footer -->
                        </div>
                        <!-- /.box -->

                    </div>
                    <!-- ./col -->
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">Messages</h3>

                            </div>
                            <!-- /.box-header -->
                            <div class="box-body no-padding">
                                <div class="table-responsive mailbox-messages">
                                    <table class="table table-hover table-striped">
                                        <tbody>
                                        <tr>
                                            <!-- *** -->
                                            <td class="mailbox-name"><a href="read-mail.html">Alexander Pierce</a></td>
                                            <!-- *** -->
                                            <td class="mailbox-subject"><b>AdminLTE 2.0 Issue</b> - Trying to find a
                                                solution to this problem...
                                            </td>
                                            <td class="mailbox-attachment"></td>
                                            <!-- *** -->
                                            <td class="mailbox-date">5 mins ago</td>
                                        </tr>
                                        <tr>
                                            <td class="mailbox-name"><a href="read-mail.html">Alexander Pierce</a></td>
                                            <td class="mailbox-subject"><b>AdminLTE 2.0 Issue</b> - Trying to find a
                                                solution to this problem...
                                            </td>
                                            <td class="mailbox-attachment"><i class="fa fa-paperclip"></i></td>
                                            <td class="mailbox-date">28 mins ago</td>
                                        </tr>
                                        <tr>
                                            <td class="mailbox-name"><a href="read-mail.html">Alexander Pierce</a></td>
                                            <td class="mailbox-subject"><b>AdminLTE 2.0 Issue</b> - Trying to find a
                                                solution to this problem...
                                            </td>
                                            <td class="mailbox-attachment"><i class="fa fa-paperclip"></i></td>
                                            <td class="mailbox-date">11 hours ago</td>
                                        </tr>
                                        <tr>
                                            <td class="mailbox-name"><a href="read-mail.html">Alexander Pierce</a></td>
                                            <td class="mailbox-subject"><b>AdminLTE 2.0 Issue</b> - Trying to find a
                                                solution to this problem...
                                            </td>
                                            <td class="mailbox-attachment"></td>
                                            <td class="mailbox-date">15 hours ago</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <!-- /.table -->
                                </div>
                                <!-- /.mail-box-messages -->
                            </div>
                            <!-- /.box-body -->
                            <div class="box-footer text-center">
                                <a href="" class="uppercase">See more</a>
                            </div>
                        </div>
                    </div>
                    <!-- /. box -->
                </div>
            </div>
    </div>

</div>
</div>

</div>


</div>

</section><!-- /.content -->
</div><!-- /.content-wrapper -->



<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
    <!-- Create the tabs -->
    <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
        <li class="active"><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
        <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
        <!-- Home tab content -->
        <div class="tab-pane active" id="control-sidebar-home-tab">
            <h3 class="control-sidebar-heading">Recent Activity</h3>
            <ul class="control-sidebar-menu">
                <li>
                    <a href="javascript::;">
                        <i class="menu-icon fa fa-birthday-cake bg-red"></i>

                        <div class="menu-info">
                            <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>

                            <p>Will be 23 on April 24th</p>
                        </div>
                    </a>
                </li>
            </ul>
            <!-- /.control-sidebar-menu -->

            <h3 class="control-sidebar-heading">Tasks Progress</h3>
            <ul class="control-sidebar-menu">
                <li>
                    <a href="javascript::;">
                        <h4 class="control-sidebar-subheading">
                            Custom Template Design
                            <span class="label label-danger pull-right">70%</span>
                        </h4>

                        <div class="progress progress-xxs">
                            <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
                        </div>
                    </a>
                </li>
            </ul>
            <!-- /.control-sidebar-menu -->

        </div>
        <!-- /.tab-pane -->
        <!-- Stats tab content -->
        <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
        <!-- /.tab-pane -->
        <!-- Settings tab content -->
        <div class="tab-pane" id="control-sidebar-settings-tab">
            <form method="post">
                <h3 class="control-sidebar-heading">General Settings</h3>

                <div class="form-group">
                    <label class="control-sidebar-subheading">
                        Report panel usage
                        <input type="checkbox" class="pull-right" checked/>
                    </label>

                    <p>
                        Some information about this general settings option
                    </p>
                </div>
                <!-- /.form-group -->
            </form>
        </div>
        <!-- /.tab-pane -->
    </div>
</aside>
<!-- /.control-sidebar -->
<!-- Add the sidebar's background. This div must be placed
     immediately after the control sidebar -->
<div class="control-sidebar-bg"></div>
</div><!-- ./wrapper -->
{% endblock %}

