{% extends "base.html" %}
{% block title %}Restaurant Owner Dashboard{% endblock %}
{% block body %}
  <div class="wrapper">

      <!-- Main Header -->
      <header class="main-header">

        <div class="food-safty-logo">
          <img src="{{ url_for('static', filename='img/logo.png') }}" alt="">
        </div>

        <!-- Logo -->
        <a href="" class="logo">
          <!-- mini logo for sidebar mini 50x50 pixels -->
          <!-- <span class="logo-mini">Resturant Name</span> -->
          <!-- logo for regular state and mobile devices -->
          <!-- *** -->
          <span class="logo-lg">Restaurant Name</span>
        </a>

        <!-- Header Navbar -->
        <nav class="navbar navbar-static-top" role="navigation">
          <!-- Sidebar toggle button-->
          <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
          </a>
          <!-- Navbar Right Menu -->
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">

              <!-- Notifications Menu -->
              <li class="dropdown notifications-menu">
                <!-- Menu toggle button -->
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-bell-o"></i>
                  <span class="label label-warning">10</span>
                </a>
                <ul class="dropdown-menu">
                  <li class="header">You have 10 notifications</li>
                  <li>
                    <!-- Inner Menu: contains the notifications -->
                    <ul class="menu">
                      <li><!-- start notification -->
                        <a href="#">
                            5 new members joined today
                        </a>
                      </li><!-- end notification -->
                    </ul>
                  </li>
                  <li class="footer"><a href="#">View all</a></li>
                </ul>
              </li>
             
              <!-- User Account Menu -->
              <li class="dropdown user user-menu">
                <!-- Menu Toggle Button -->
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <!-- The user image in the navbar-->
                  <img src="{{ url_for('static', filename='img/profile-pic.jpg') }}" class="user-image" alt="User Image" />
                  <!-- hidden-xs hides the username on small devices so only the image appears. -->
                  <span class="hidden-xs">Ali Naman</span>
                </a>
                <ul class="dropdown-menu">
                  <!-- The user image in the menu -->
                  <li class="user-header">
                    <img src="{{ url_for('static', filename='img/profile-pic.jpg') }}" class="img-circle" alt="User Image" />
                    <p>
                      Ali Naman - Owner
                    </p>
                  </li>
                  
                  <!-- Menu Footer-->
                  <li class="user-footer">
                    <div class="pull-left">
                      <a href="#" class="btn btn-default btn-flat">Profile</a>
                    </div>
                    <div class="pull-right">
                      <a href="#" class="btn btn-default btn-flat">Sign out</a>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      <!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar">

        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">

          <!-- Sidebar user panel (optional) -->
          <div class="user-panel">
            <div class="pull-left image">
              <img src="{{ url_for('static', filename='img/profile-pic.jpg') }}" class="img-circle" alt="User Image" />
            </div>
            <div class="pull-left info">
              <p>Ali Naman</p>
              <span>Owner</span>
            </div>
          </div>

          <!-- Sidebar Menu -->
          <ul class="sidebar-menu">
            <!-- Optionally, you can add icons to the links -->
            <li class="active"><a href="#"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
            <li><a href="#"><i class="fa fa-link"></i> <span>Managers</span></a></li>
            <li><a href="#"><i class="fa fa-link"></i> <span>Staffs</span></a></li>
            <li><a href="#"><i class="fa fa-link"></i> <span>Supliers</span></a></li>
            <li><a href="#"><i class="fa fa-link"></i> <span>Bills</span></a></li>
            <li><a href="../certificate.html"><i class="fa fa-link"></i> <span>Certificate library</span></a></li>
            <li><a href="#"><i class="fa fa-link"></i> <span>Setting</span></a></li>
          </ul><!-- /.sidebar-menu -->
        </section>
        <!-- /.sidebar -->
      </aside>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">

        <!-- Main content -->
        <section class="content">
          <div class="row">

                <div class="col-lg-15 col-xs-6">
                  <div class="box box-primary">
                    <div class="box-header with-border">
                      <h3 class="box-title">Suppliers</h3>
                      <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                      </div>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                      <ul class="products-list product-list-in-box">
                        <li class="item">
                          <div class="product-img">
                            <img class="circle" src="{{ url_for('static', filename='img/jose mourinho.jpg') }}"/>
                          </div>
                          <div class="product-info">
                            <a href="javascript::;" class="product-title">jose mourinho</a>
                            <span class="product-description">
                              manager of English club Chelsea
                            </span>
                          </div>
                        </li><!-- /.item -->
                        
                        

                      </ul>
                    </div><!-- /.box-body -->
                    <div class="box-footer text-center">
                      <a href="" class="uppercase">Edit supliers info</a>
                    </div><!-- /.box-footer -->
                  </div><!-- /.box -->
                  
              </div><!-- ./col -->

              <div class="col-lg-15 col-xs-6">
                  <div class="box box-danger">
                    <div class="box-header with-border">
                      <h3 class="box-title">Equipments</h3>
                      <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                      </div>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                      <ul class="products-list product-list-in-box">
                        <li class="item">
                          <div class="product-img">
                            <img class="circle" src="{{ url_for('static', filename='img/jose mourinho.jpg') }}"/>
                          </div>
                          <div class="product-info">
                            <a href="javascript::;" class="product-title">jose mourinho</a>
                            <span class="product-description">
                              manager of English club Chelsea
                            </span>
                          </div>
                        </li><!-- /.item -->
                        

                      </ul>
                    </div><!-- /.box-body -->
                    <div class="box-footer text-center">
                      <a href="" class="uppercase">Edit staffs info</a>
                    </div><!-- /.box-footer -->
                  </div><!-- /.box -->
                  
              </div><!-- ./col -->
              <div class="col-lg-15 col-xs-6">
                  <div class="box box-warning">
                    <div class="box-header with-border">
                      <h3 class="box-title">Service Mans</h3>
                      <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                      </div>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                      <ul class="products-list product-list-in-box">
                        <li class="item">
                          <div class="product-img">
                            <img class="circle" src="{{ url_for('static', filename='img/jose mourinho.jpg') }}"/>
                          </div>
                          <div class="product-info">
                            <a href="javascript::;" class="product-title">jose mourinho</a>
                            <span class="product-description">
                              manager of English club Chelsea
                            </span>
                          </div>
                        </li><!-- /.item -->
                        

                      </ul>
                    </div><!-- /.box-body -->
                    <div class="box-footer text-center">
                      <a href="" class="uppercase">Edit service mans info</a>
                    </div><!-- /.box-footer -->
                  </div><!-- /.box -->
                  
              </div><!-- ./col -->
              <div class="col-lg-15 col-xs-6">
                  <div class="box box-success">
                    <div class="box-header with-border">
                      <h3 class="box-title">Staffs</h3>
                      <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                      </div>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                      <ul class="products-list product-list-in-box">
                        <li class="item">
                          <div class="product-img">
                            <img class="circle" src="{{ url_for('static', filename='img/jose mourinho.jpg') }}"/>
                          </div>
                          <div class="product-info">
                            <a href="javascript::;" class="product-title">jose mourinho</a>
                            <span class="product-description">
                              manager of English club Chelsea
                            </span>
                          </div>
                        </li><!-- /.item -->
                        

                      </ul>
                    </div><!-- /.box-body -->
                    <div class="box-footer text-center">
                      <a href="" class="uppercase">Edit managers info</a>
                    </div><!-- /.box-footer -->
                  </div><!-- /.box -->

                  
                  
              </div><!-- ./col -->

              <div class="col-lg-15 col-xs-6">
                  <div class="box box-success">
                    <div class="box-header with-border">
                      <h3 class="box-title">Managers</h3>
                      <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                      </div>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                      <ul class="products-list product-list-in-box">
                        <li class="item">
                          <div class="product-img">
                            <img class="circle" src="{{ url_for('static', filename='img/jose mourinho.jpg') }}"/>
                          </div>
                          <div class="product-info">
                            <a href="javascript::;" class="product-title">jose mourinho</a>
                            <span class="product-description">
                              manager of English club Chelsea
                            </span>
                          </div>
                        </li><!-- /.item -->
                        

                      </ul>
                    </div><!-- /.box-body -->
                    <div class="box-footer text-center">
                      <a href="" class="uppercase">Edit managers info</a>
                    </div><!-- /.box-footer -->
                  </div><!-- /.box -->

                  
                  
              </div><!-- ./col -->
              

          </div><!-- /.row -->

          <div class="row">
            <div class="col-lg-4 col-xs-12">
                  <div class="info-box bg-blue-gradient">
                     <h4>Food safety supliers</h4>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat eaque cupiditate nemo placeat nihil nulla, blanditiis est! Suscipit maiores sapiente sed id, veniam eius tenetur enim et aliquid illo voluptatibus.</p>
                    </div><!-- /.info-box -->
                    <div class="info-box bg-red-gradient">
                      <h4>Food safety servicemans</h4>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam illo autem sequi saepe ab nihil atque modi, beatae. Vitae at unde harum deserunt, error voluptate similique eligendi sapiente voluptatum magni.</p>
                    </div><!-- /.info-box -->
            </div>
            <div class="col-lg-5 col-xs-6">
            <div class="box-header bg-green-gradient">
                  <i class="fa fa-calendar"></i>
                  <h3 class="box-title">Calendar</h3>
                </div><!-- /.box-header -->
            <div class="row">
              <div class="col-lg-7  no-padding">
                <!-- Calendar -->
              <div class="box box-solid  border-right height300 no-margin border-bottom">
                <div class="box-body no-padding">
                  <!--The calendar -->
                  <div id="calendar" style="width: 100%"></div>
                </div><!-- /.box-body -->
                
              </div><!-- /.box -->
              </div>
              <div class="col-lg-5 no-padding">
                <div class="box-footer text-black height300 no-margin border-bottom">
                <div class="row">
                  <h4 class="no-top-margin center">Reports</h4><br>
                </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="row"><button class="btn btn-success full-width">Monthly</button></div><br>
                      <div class="row"><button class="btn btn-default col-md-6">Weekly</button><button class="btn btn-default col-md-6">Daily</button></div>
                      <br>
	     <form action="">
	     	<!-- Date range -->
              <!-- *** -->
	     	<label for="">Custom</label>
	                  <div class="form-group">
	                    <div class="input-group">
	                      <div class="input-group-addon">
	                        <i class="fa fa-calendar"></i>
	                      </div>
	                      <input type="text" class="form-control pull-right" id="daterange" />
	                    </div><!-- /.input group -->
	                  </div>
	     </form>

                    </div><!-- /.col -->
                  </div><!-- /.row -->
                </div>
              </div>

            </div>
            <div class="row back-white">
                <p class="padding15">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus reiciendis iste asperiores distinctio, excepturi sint molestias persp.</p>
              </div>
              
            
          </div>
          <div class="col-lg-3 col-xs-6">
                         <div class="box box-primary">
                          <div class="box-header with-border">
                            <h3 class="box-title">Bills</h3>
                            <div class="box-tools pull-right">
                              <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            </div>
                          </div><!-- /.box-header -->
                          <div class="box-body">
                            <ul class="products-list product-list-in-box">
                              <!-- *** -->
                              <li class="item">
                              
                                <div class="product-info no-margin">
                                  <span class="fa  fa-file-archive-o"></span>
                                  <a href="javascript::;" class="product-title"> Restaurant Name </a>
                                </div>
                              </li><!-- /.item -->
                              <li class="item">
                              

                            </ul>
                          </div><!-- /.box-body -->
                          <div class="box-footer text-center">
                            <a href="" class="uppercase">See more</a>
                          </div><!-- /.box-footer -->
                        </div><!-- /.box -->
          </div>

        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->

    

    </div><!-- ./wrapper -->
{% endblock %}
