<!doctype html>
<html>
    <head>
        {% block head %}{}
        <title>{% block title %}{% endblock %}::Food Safety Manager{% endblock %}</title>

        <meta charset="UTF-8">
        <!-- Tell the browser to be responsive to screen width -->
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <!-- Bootstrap 3.3.4 -->
        <link href="{{ url_for('static', filename='plugins/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>
        <!-- Font Awesome Icons -->
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet"
              type="text/css"/>
        <!-- Ionicons -->
        <link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" type="text/css"/>
        <!-- Theme style -->
        <link href="{{ url_for('static', filename='css/AdminLTE.min.css') }}" rel="stylesheet" type="text/css"/>
        <!-- blu skin -->
        <link href="{{ url_for('static', filename='css/skins/skin-green.css') }}" rel="stylesheet" type="text/css"/>
        <!-- Date Picker -->
        <link href="{{ url_for('static', filename='plugins/datepicker/datepicker3.css') }}" rel="stylesheet" type="text/css"/>
        <!-- Daterange picker -->
        <link href="{{ url_for('static', filename='plugins/daterangepicker/daterangepicker-bs3.css') }}" rel="stylesheet" type="text/css"/>
        <!-- my style -->
        <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css"/>
    </head>
    <body class="skin-green sidebar-mini">
        {% block body %}{% endblock %}
        <!-- Main Footer -->
        <footer class="main-footer">
            {% block footer %}
            {% endblock %}
            <!-- To the right -->
            <div class="pull-right hidden-xs">
                Anything you want
            </div>
            <!-- Default to the left -->
            <strong>Copyright &copy; 2015 <a href="#">Food Safety</a>.</strong> All rights reserved.
        </footer>
        <!-- REQUIRED JS SCRIPTS -->

        <!-- jQuery 2.1.4 -->
        <script src="{{ url_for('static', filename='plugins/jQuery/jQuery-2.1.4.min.js') }}" type="text/javascript"></script>
        <!-- Bootstrap 3.3.2 JS -->
        <script src="{{ url_for('static', filename='plugins/bootstrap/js/bootstrap.min.js') }}" type="text/javascript"></script>
        <!-- daterangepicker -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js" type="text/javascript"></script>
        <script src="{{ url_for('static', filename='plugins/daterangepicker/daterangepicker.js') }}" type="text/javascript"></script>
        <!-- datepicker -->
        <script src="{{ url_for('static', filename='plugins/datepicker/bootstrap-datepicker.js') }}" type="text/javascript"></script>

        <!-- AdminLTE App -->
        <script src="{{ url_for('static', filename='js/app.min.js') }}" type="text/javascript"></script>

        <!-- my js -->
        <script src="{{ url_for('static', filename='js/my.js') }}" type="text/javascript"></script>
    </body>
</html>





