<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Owner Admin</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.4 -->
    <link href="{% static asset/plugins/bootstrap/css/bootstrap.min.css%}" rel="stylesheet" type="text/css" />
    <!-- Font Awesome Icons -->
    <link href="{% https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css%}" rel="stylesheet" type="text/css" />
    <!-- Ionicons -->
    <link href="{% https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css%}" rel="stylesheet" type="text/css" />
    <!-- Theme style -->
    <link href="{% static asset/css/AdminLTE.min.css%}" rel="stylesheet" type="text/css" />
   <!-- green skin -->
    <link href="{% static asset/css/skins/skin-green.css%}" rel="stylesheet" type="text/css" />
    <!-- Date Picker -->
    <link href="{% static asset/plugins/datepicker/datepicker3.css%}" rel="stylesheet" type="text/css" />
    <!-- Daterange picker -->
    <link href="{% static asset/plugins/daterangepicker/daterangepicker-bs3.css%}" rel="stylesheet" type="text/css" />
    <!-- my style -->
    <link href="{% static asset/css/style.css%}" rel="stylesheet" type="text/css" />
  
  </head>

  <body class="skin-green sidebar-mini">
    <div class="wrapper">

      <!-- Main Header -->
      <header class="main-header">

        <div class="food-safty-logo">
          <img src="{% static asset/img/logo.png%}" alt="">
        </div>

        <!-- Logo -->
        <a href="" class="logo">
          <!-- mini logo for sidebar mini 50x50 pixels -->
          <span class="logo-mini">Resturant Name</span>
          <!-- logo for regular state and mobile devices -->
          <span class="logo-lg">Restaurant Name</span>
        </a>

        <!-- Header Navbar -->
        <nav class="navbar navbar-static-top" role="navigation">
          <!-- Sidebar toggle button-->
          <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
          </a>
          <!-- Navbar Right Menu -->
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">

              <!-- Notifications Menu -->
              <li class="dropdown notifications-menu">
                <!-- Menu toggle button -->
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-bell-o"></i>
                  <span class="label label-warning">10</span>
                </a>
                <ul class="dropdown-menu">
                  <li class="header">You have 10 notifications</li>
                  <li>
                    <!-- Inner Menu: contains the notifications -->
                    <ul class="menu">
                      <li><!-- start notification -->
                        <a href="#">
                            5 new members joined today
                        </a>
                      </li><!-- end notification -->
                    </ul>
                  </li>
                  <li class="footer"><a href="#">View all</a></li>
                </ul>
              </li>
             
              <!-- User Account Menu -->
              <li class="dropdown user user-menu">
                <!-- Menu Toggle Button -->
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <!-- The user image in the navbar-->
                  <img src="{% static asset/img/profile-pic.jpg%}%}" class="user-image" alt="User Image" />
                  <!-- hidden-xs hides the username on small devices so only the image appears. -->
                  <span class="hidden-xs">Ali Naman</span>
                </a>
                <ul class="dropdown-menu">
                  <!-- The user image in the menu -->
                  <li class="user-header">
                    <img src="{% static asset/img/profile-pic.jpg%}%}" class="img-circle" alt="User Image" />
                    <p>
                      Ali Naman - Owner
                    </p>
                  </li>
                  
                  <!-- Menu Footer-->
                  <li class="user-footer">
                    <div class="pull-left">
                      <a href="#" class="btn btn-default btn-flat">Profile</a>
                    </div>
                    <div class="pull-right">
                      <a href="#" class="btn btn-default btn-flat">Sign out</a>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      <!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar">

        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">

          <!-- Sidebar user panel (optional) -->
          <div class="user-panel">
            <div class="pull-left image">
              <img src="{% static asset/img/profile-pic.jpg%}%}" class="img-circle" alt="User Image" />
            </div>
            <div class="pull-left info">
              <p>Ali Naman</p>
              <span>Owner</span>
            </div>
          </div>

          <!-- Sidebar Menu -->
          <ul class="sidebar-menu">
            <!-- Optionally, you can add icons to the links -->
            <li class="active"><a href="#"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
            <li><a href="#"><i class="fa fa-link"></i> <span>Managers</span></a></li>
            <li><a href="#"><i class="fa fa-link"></i> <span>Staffs</span></a></li>
            <li><a href="#"><i class="fa fa-link"></i> <span>Supliers</span></a></li>
            <li><a href="#"><i class="fa fa-link"></i> <span>Bills</span></a></li>
            <li><a href="#"><i class="fa fa-link"></i> <span>Certificate library</span></a></li>
            <li><a href="#"><i class="fa fa-link"></i> <span>Setting</span></a></li>
          </ul><!-- /.sidebar-menu -->
        </section>
        <!-- /.sidebar -->
      </aside>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">

        <!-- Main content -->
        <section class="content">
            <!-- *** -->
        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->

    

    </div><!-- ./wrapper -->

    <!-- REQUIRED JS SCRIPTS -->

    <!-- jQuery 2.1.4 -->
    <script src="{% static asset/plugins/jQuery/jQuery-2.1.4.min.js%}" type="text/javascript"></script>
    <!-- Bootstrap 3.3.2 JS -->
    <script src="{% static asset/plugins/bootstrap/js/bootstrap.min.js%}" type="text/javascript"></script>
  <!-- daterangepicker -->
    <script src="{% https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js%}" type="text/javascript"></script>
    <script src="{% static asset/plugins/daterangepicker/daterangepicker.js%}" type="text/javascript"></script>
    <!-- datepicker -->
    <script src="{% static asset/plugins/datepicker/bootstrap-datepicker.js%}" type="text/javascript"></script>

    <!-- AdminLTE App -->
    <script src="{% static asset/js/app.min.js%}" type="text/javascript"></script>

    <!-- my js -->
    <script src="{% static asset/js/my.js%}" type="text/javascript"></script> 



  </body>
</html>
