.report-table td{
	/*background: url('../img/6 zeli.png');*/
	background-size: 85%;
	background-repeat: no-repeat;
	text-align: center;
	background-position-x: 4px;
	padding: 0;
}
.report-table th{
	text-align: center;
	width: 10px;
	color: #367fa9;
	background-color: rgb(232, 238, 242);
}
.report-table td img{
	width: 20px;
}
.no-border{
	border: none;
}
.overhidd{
	overflow: hidden;
}
.invoice{
	width: 22cm;
	line-height: 25px;
	overflow: hidden;
}
.invoice-info{
		  margin-bottom: 20px;
		  background-color: beige;
		  padding: 36px;
	}
.invoice .box .box-header{
	background-color: rgb(121, 194, 74);
}
.report_title{
	padding-top: 10px;
}

@media print {
	.invoice .box .box-header{
		background-color: rgb(121, 194, 74) !important;
		-webkit-print-color-adjust: exact; 
	}
	.report-table th{
		background-color: rgb(232, 238, 242)  !important;
		-webkit-print-color-adjust: exact;
		color: #367fa9 !important;
	}
	.white{
		color: white !important;
	}
	.blue{
		color: #367fa9 !important;
	}
	*{
		 page-break-inside: avoid;
	}
	.invoice-info{
		  margin-bottom: 20px;
		  background-color: beige !important;
		  -webkit-print-color-adjust: exact;
		  padding: 36px;
	}
}
@page {
	/*margin: 0.5cm;*/
}
.box{
	border: 1px solid lightgray;
	margin-bottom: 0;
}
.pad7{
	padding: 7px;
}