.default-panel{
	border: 1px solid lightgray;
	background: white;
}
.default-panel h4{
	text-align: center;
	border-bottom: 1px solid lightgray;
	padding: 5px;
	margin: 0;
}
.panel-footer{

}

.no-padding-left{
	padding-left: 0;
}
.no-padding-right{
	padding-right: 0;
}
.no-padding{
	padding: 0;
}

.circle{
	border-radius: 50%;
}
.height300{
	min-height: 260px;
}
.border-right{
	border-right:1px solid lightgray;
}
.no-top-margin{
	margin-top: 0;
}
.no-margin{
	margin: 0;
}
.full-width{
	width: 100%;
}
.width30{
	width: 33%
}
.back-white{
	background: white;
}
.center{text-align: center;}
.padding15{
	padding:15px;
}
.border-bottom{
	border-bottom:1px solid lightgray;
}
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
.col-xs-15 {
    width: 20%;
    float: left;
}

.fa-file-archive-o{
	padding-right: 3px;
}
.num{
	font-size: 12px;
}
.f13{
	font-size: 13px;
}
.f14{
	font-size: 14px;
}
.f16{
	font-size: 16px;
}
.food-safty-logo{
	position: absolute;
	top: 0px;
	width: 6%;
	left: 47.5%;
	z-index: 1001;
}
.food-safty-logo img{
	width: 100%;
}
select.btn{
	padding-bottom: 2px;
}
.btn-group textarea{
	width: 100%;
  	margin-top: 8px;
}
.btn-group .texarearow{
	display: none;
}

.invoice #logo{
	width: 70px;
}
.blue{
	color: #367fa9;
}
.pad14{
	padding: 14px;
}
.green{
	color: #4AA936;
}
.white{
	color: white;
}
.no-padding{padding: 0;}
